@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: #F3F1FF;
    display: flex;
    justify-content: center;
}

.conatiner {
    width: 870px;
    background-color: #fff;
    margin-top: 36px;
    margin-bottom: 21px;
    border-radius: 5px;
}

.title {
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
    padding: 33px 0px 0px 30px;
}
hr{
    width: 807px;
    border: 1px solid #D1D1D1;
    margin: 0 auto;
}
/* Global css end */

/* top player css start here */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 26px 30px 0px 30px;
    
}

.player {
    display: flex;
    align-items: center;
    margin: 29px 0px ;
}

.player img {
    width: 56px;
    height: 56px;
}

.player h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-left: 16px;
    color: #000000;
}

/* top player css end */